.MovieDetail {
  display: flex;
  padding: 1em 5em;
}

.MovieDetail img {
  height: 34em;
  width: auto;
  margin-right: 3em;
  position: sticky;
  top: 97px;
}

.content {
  width: 60%;
}

.content h2 {
  color: #dab59d;
  margin-bottom: 10px;
}

h2 span {
  font-size: 0.6em;
  color: #d8d8d8;
  margin-left: 2px;
}

.content p {
  color: #d8d8d8;
}

.add_btn {
  width: 100%;
  background-color: #008000;
  color: #d8d8d8;
  padding: 0.5em;
  border-radius: 5px;
  font-size: 1rem;
}
.add_btn:hover {
  cursor: pointer;
  background-color: #005000;
}

.add_btn span {
  font-weight: bold;
}

@media (max-width: 900px) {
  .MovieDetail {
    padding: 1em 3em;
  }
  .MovieDetail img {
    height: 30em;
  }
}

@media (max-width: 500px) {
  .MovieDetail {
    flex-direction: column;
    padding: 0.5em;
  }
  .MovieDetail img {
    height: 100%;
    margin-right: 0;
    position: relative;
    top: 0;
  }
  .content {
    width: 100%;
  }
}
