.loading {
  width: 100%;
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.MovieDetail {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #d8d8d8;
}

.MovieDetail .backdrop_path {
  width: 50rem;
  border-radius: 2px;
}

.centre_part {
  width: 50rem;
  display: flex;
  /* margin-bottom: 1em; */
}

.centre_part .poster_path {
  width: 15em;
  box-shadow: 0px -1px 3px #000;
  border-radius: 3px;
  margin-left: 4em;
  margin-right: 3em;
  position: relative;
  top: -6em;
}

.movie_full_info {
  padding: 1em;
}

.movie_full_info p {
  font-size: 1.1rem;
}

.movie_full_info p span {
  margin-left: 1em;
}

.title_date {
  font-size: 1.6rem;
  color: #f7c593;
}

.title_date span {
  font-size: 0.5em;
  color: #d8d8d8;
}

.rating i {
  color: #ffd700;
}

.add_watchlist_btn {
  background-color: #2b9900;
  font-size: 1.2rem;
  color: #d8d8d8;
  border: none;
  width: 50rem;
  cursor: pointer;
  font-weight: bold;
  padding: 7px 0;
  border-radius: 5px;
  margin-bottom: 1em;
}

.added_to_watchlist {
  background-color: #000;
  font-size: 1.2rem;
  color: #2b9900;
  border: 1px solid #2b9900;
  width: 50rem;
  cursor: pointer;
  font-weight: bold;
  padding: 7px 0;
  border-radius: 5px;
  margin-bottom: 1em;
}

.add_watchlist_btn:hover {
  background-color: #267f03;
}

@media (max-width: 900px) {
  .MovieDetail {
    padding: 0.6em;
  }
  .MovieDetail .backdrop_path {
    width: 100%;
  }
  .centre_part {
    width: 100%;
  }
  .centre_part .poster_path {
    width: 15em;
  }
  .add_watchlist_btn,
  .added_to_watchlist {
    width: 100%;
  }
}

@media (max-width: 700px) {
  .centre_part {
    flex-direction: column;
  }

  .centre_part .poster_path {
    width: 11em;
    top: -5em;
    margin-left: 1em;
  }

  .movie_full_info {
    margin-top: -7em;
  }
}

@media (max-width: 500px) {
  .centre_part .poster_path {
    width: 9em;
  }

  .movie_full_info {
    margin-top: -7em;
  }
}

@media (max-width: 400px) {
  .centre_part .poster_path {
    width: 7em;
  }
}
