.loading {
  width: 100%;
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.MovieDetail {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #d8d8d8;
}

.MovieDetail .backdrop_path {
  width: 50em;
  border-radius: 2px;
}

.centre_part {
  width: 50em;
  display: flex;
}

.centre_part .poster_path {
  width: 15em;
  border: 10px solid black;
  border-radius: 2px;
  margin-left: 4em;
  margin-right: 3em;
  position: relative;
  top: -6em;
}

.movie_full_info {
  padding: 1em;
}

.movie_full_info p {
  font-size: 1.1rem;
}

.movie_full_info p span {
  margin-left: 1em;
}

.title_date {
  font-size: 2rem;
  color: #f7c593;
}

.title_date span {
  font-size: 0.5em;
  color: #d8d8d8;
}

.rating i {
  color: #ffd700;
}

@media (max-width: 900px) {
  .MovieDetail .backdrop_path {
    width: 100%;
  }
  .centre_part {
    width: 100%;
  }
  .centre_part .poster_path {
    width: 15em;
  }
}

@media (max-width: 700px) {
  .centre_part {
    flex-direction: column;
  }

  .centre_part .poster_path {
    width: 11em;
    top: -5em;
    margin-left: 1em;
  }

  .movie_full_info {
    margin-top: -7em;
  }
}

@media (max-width: 500px) {
  .centre_part .poster_path {
    width: 9em;
    border: 5px solid black;
  }

  .movie_full_info {
    margin-top: -7em;
  }
}

@media (max-width: 400px) {
  .centre_part .poster_path {
    width: 7em;
  }
}
