.changePage {
  display: flex;
  align-items: center;
  justify-content: center;
}

.slide_btn {
  padding: 0.5em 1em;
  font-size: 1rem;
  margin: 0 1em;
  background-color: #019401;
  color: #d8d8d8;
  border: none;
  border-radius: 5px;
}
.slide_btn:hover {
  cursor: pointer;
  background-color: #008000;
}
.slide_btn:active {
  background-color: #006600;
}
