.movies {
  padding: 0.8em;
}

.movie_type_heading {
  color: #d8d8d8;
}

.movies_list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.loading {
  height: 80vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 500px) {
  .movies {
    padding: 0.5em;
  }
}
