.movie_list {
  padding: 1em;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}
.movie_card {
  padding: 5px;
  background-color: #161414;
  border-radius: 8px;
  margin-bottom: 1em;
  transition: 0.4s;
  height: 26em;
  width: 13.4em;
}

.movie_card:hover {
  transform: translateY(-8px);
  cursor: pointer;
}

.movie_card img {
  width: 13.3em;
  height: auto;
  border-radius: 8px;
}

h4 {
  margin: 5px 0;
  font-size: 0.9rem;
  color: #d8d8d8;
}

.card_title {
  color: #dab59d;
  font-size: 1.1rem;
}

.rating {
  display: flex;
  align-items: center;
}

.loading {
  width: 100%;
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.rating span {
  margin-left: 0.2em;
}

.page_slide {
  display: flex;
  align-items: center;
  justify-content: center;
}

.slide_btn {
  padding: 0.5em 1em;
  font-size: 1rem;
  margin: 0 1em;
  background-color: #019401;
  color: #d8d8d8;
  border: none;
  border-radius: 5px;
}
.slide_btn:hover {
  cursor: pointer;
  background-color: #008000;
}
.slide_btn:active {
  background-color: #006600;
}

@media (max-width: 900px) {
  .movie_card {
    width: 11.5em;
    height: 24.8em;
  }
  .movie_card img {
    width: 11.5em;
  }
}

@media (max-width: 500px) {
  .movietype {
    padding: 0.5em;
  }
  .movie_card {
    width: 9.4em;
    height: 21.3em;
  }
  .movie_card img {
    width: 9.4em;
  }
}
