.movietype {
  padding: 0.8em;
}

.movie_type_heading {
  color: #d8d8d8;
}

.movies_list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.loading {
  width: 100%;
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
