.movietype {
  padding: 0.8em;
}

.movies_list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
}

.loading {
  width: 100%;
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 500px) {
  .movies_list {
    padding: 0.5em;
  }
}
