.movie_card {
  margin-bottom: 0.8em;
  transition: 0.4s;
}

.movie_card:hover {
  transform: translateY(-8px);
  cursor: pointer;
}

.movie_card img {
  width: 13em;
  height: auto;
  border-radius: 2px;
}

@media (max-width: 900px) {
  .movie_card {
    margin-bottom: 0.6em;
  }
  .movie_card:hover {
    transform: translateY(-6px);
  }
  .movie_card img {
    width: 10em;
  }
}

@media (max-width: 500px) {
  .movie_card:hover {
    transform: translateY(-5px);
  }
  .movie_card {
    margin-bottom: 0.3em;
  }
  .movie_card img {
    width: 7em;
  }
}
