.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1em;
  background-color: #131010;
  height: 5em;
  border-bottom: 1px solid #d8d8d8;
  position: sticky;
  top: 0;
  z-index: 10;
}

.logo {
  color: #dab59d;
  font-size: 2rem;
}

.logo span {
  color: #ff8000;
  font-size: 2.3rem;
}

.menu {
  display: flex;
  align-items: center;
}

.menu p {
  color: #d8d8d8;
  font-size: 1rem;
  margin-right: 3em;
}

@media (max-width: 500px) {
  .header {
    padding: 0 1em;
  }
}
