.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1em;
  background-color: #131010;
  height: 5em;
  border-bottom: 1px solid #d8d8d8;
}

.logo {
  color: #d8d8d8;
  font-size: 2rem;
}

.logo span {
  color: #ff8000;
  font-size: 2.2rem;
}

.add_new_btn {
  color: #fff;
  font-size: 1.2rem;
}

.add_new_btn span {
  margin-right: 5px;
  color: #008000;
  font-weight: bold;
}

@media (max-width: 500px) {
  .header {
    padding: 0 1em;
  }
}
