.header {
  width: 100%;
  height: 5em;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #131010;
  border-bottom: 1px solid #d8d8d8;
  position: sticky;
  top: 0;
  z-index: 10;
}

.logo {
  color: #ff8000;
  font-size: 2.5rem;
  border: 2px solid #ff8000;
  border-radius: 50%;
  padding: 0em 0.2em 0.1em 0.2em;
  margin-left: 0.5em;
}

.header i {
  font-size: 2rem;
  color: #d8d8d8;
  display: none;
  cursor: pointer;
  margin-right: 0.5em;
}

.menu_type {
  display: flex;
}
.responsive_menu_type {
  display: flex;
}

.type_movie {
  color: #d8d8d8;
  font-size: 1.3rem;
  margin: 0 1.5em;
}

.type_movie:active,
.type_movie:hover {
  color: #ff8000;
}

@media (max-width: 800px) {
  .header i {
    display: block;
  }
  .menu_type {
    position: absolute;
    top: 5em;
    left: -100%;
    width: 100%;
    height: 20em;
    background: #000;
    transition: 0.5s;
    flex-direction: column;
    text-align: center;
  }
  .menu_type p {
    margin: 1.7em auto;
  }
  .responsive_menu_type {
    position: absolute;
    top: 5em;
    left: 0;
    width: 100%;
    height: 20em;
    background: #000;
    border-top: 1px solid #d8d8d8;
    transition: 0.5s;
    flex-direction: column;
    text-align: center;
  }
  .responsive_menu_type p {
    margin: 1.7em auto;
  }
  .type_movie:active,
  .type_movie:hover {
    color: #ff8000;
  }
}
