.add_movie {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 30em;
}

.heading {
  color: #d8d8d8;
  margin: 2em;
}

form {
  display: flex;
  flex-direction: column;
  width: 30em;
}

.movie_info {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

label {
  display: flex;
  flex-direction: column;
  margin-bottom: 1em;
}

input {
  height: 2em;
}

.title_year {
  width: 17em;
  outline: none;
  border-radius: 5px;
}

textarea {
  height: 5em;
  outline: none;
  border-radius: 5px;
}

.btn {
  background-color: #00a700;
  color: #fff;
  font-size: 1rem;
  font-weight: 700;
  padding: 0.5em 1em;
  border-radius: 5px;
}

.btn:hover {
  cursor: pointer;
  background-color: #008000;
}

.btn:active {
  background-color: #005500;
}

@media (max-width: 500px) {
  form {
    width: 20em;
  }
  .title_year {
    width: 11em;
  }
}
