.carousel img {
  border-radius: 2px;
}

.carousel_info {
  text-align: start;
  padding: 0 1em;
  position: absolute;
  bottom: 1em;
}

.carousel_info p {
  color: #d8d8d8;
  font-weight: bold;
}

.carousel_info p i {
  color: #ffd700;
}

.carousel_info_rating {
  font-size: 2rem;
}

.carousel_info_title {
  font-size: 2rem;
  margin: -0.5em 0;
}

.carousel_info_release_date {
  font-size: 1.4em;
}

@media (max-width: 900px) {
  .carousel_info_rating {
    font-size: 1.7rem;
  }

  .carousel_info_title {
    font-size: 1.7rem;
  }

  .carousel_info_release_date {
    font-size: 1.2em;
  }
}

@media (max-width: 500px) {
  .carousel_info {
    bottom: 0em;
  }
  .carousel_info_rating {
    font-size: 1.2rem;
  }

  .carousel_info_title {
    font-size: 1.2rem;
    margin: -0.5em 0;
  }

  .carousel_info_release_date {
    font-size: 0.8em;
  }
}
